span{
    color:red;
}
table{
    width: 975px;
}
table,th,td{
    font-size: 20px;
    height: 30px;
    border-color: lightgray;
    border-collapse:collapse;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover,
  .rating > span:hover ~ span {
    color: transparent;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
     left: 0; 
     color: gold;
  }

  body{
    background-color: black;
  }

  form{
      background-color: white;
      width: 1000px;
      margin-left: 20%;
  }
 